<h1>Log in </h1>
<%= flash[:message]%>
<%= bootstrap_form_for :user, url: '/login' do |f| %>
  <br>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>
<br>
<%=button_to "Login with Google", '/auth/google_oauth2'%>
<%=link_to "Sign up", signup_path%>
