<h1>Log in </h1>

<%= form_for :user, url: '/login' do |f| %>
  <div><b><%=@message%></b></div>
  <br>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %> 
  <br>
<%=link_to "Sign up", signup_path%>