<h1>Log in to Pet Tasker</h1>
<div style="color:red;">
  <%= flash[:message]%>
  <%=flash[:danger]%>
</div>
<%= bootstrap_form_for :user, url: '/login' do |f| %>
  <br>
  <div class="fields_with_errors"><%= f.text_field :username %></div>
  <div class="fields_with_errors"><%= f.password_field :password %></div>
  <br>
  <%= f.submit "Log in" %>
<% end %>
<br>
<span><%=button_to "Login with Google", '/auth/google_oauth2'%></span>
<span><%=link_to "Sign up", signup_path%></span>
