<%=flash[:message]%>
<%= bootstrap_form_for bid, url: job_bids_path do |f| %>
  <br>
  <div class="fields_with_errors"><%= f.number_field :bid_amount %> </div>
  <div class="fields_with_errors"><%= f.text_area :comment %></div>
  <br>
  <%= f.submit "Place bid" %>
<% end %>
