<div class="fields_with_errors">
<%= form_for job do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% job.errors.each do |error| %>
          <li style="color:red;"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="fields_with_errors"><%= f.text_field :title %></div>
  <br>
  <div class="fields_with_errors"><%= f.select :category, options_for_select([ "Wash & groom", "Walk & exercise", "Overnight stay", "Training", "Other"]), :class => 'genForm_dropBox' %></div>
  <br>
  <div class="fields_with_errors"><%= f.text_area :description %></div>
  <br>
  <div class="fields_with_errors"><%= f.text_field :price %></div>
  <br>
  <div class="fields_with_errors"><%= f.select :day, options_for_select([ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]), :class => 'genForm_dropBox' %></div>
  <br>
  <div class="fields_with_errors"><%= f.select :time, options_for_select([ "Morning", "Afternoon", "Evening"]), :class => 'genForm_dropBox' %></div>
  <br>
  <%= f.submit "Post job" %>
<% end %>
</div>