<%= bootstrap_form_for job, url: user_jobs_path do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div><%= f.text_field :title %></div>
  <br>
  <div><%= f.select :category, options_for_select([["Select One", ""], "Wash & groom", "Walk & exercise", "Overnight stay", "Training", "Other"]), :class => 'genForm_dropBox' %></div>
  <br>
  <div><%= f.text_area :description %></div>
  <br>
  <div><%= f.text_field :price %></div>
  <br>
  <div><%= f.select :day, options_for_select([["Select One", ""], "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]), :class => 'genForm_dropBox' %></div>
  <br>
  <div><%= f.select :time, options_for_select([["Select One", ""], "Morning", "Afternoon", "Evening"]), :class => 'genForm_dropBox' %></div>
  <br>
  <%= f.submit "Post job" %>
<% end %>
