<p> <%=@job.category%> </p>
<h1><%=@job.title%></h1>
<p> <%=@job.description%> </p>
<p> <%=@job.day%> - <%=@job.time%> </p>
<hr>
<h2>$<%=@job.price%></h2>
<br>
<% if current_user.id == @job.user_id %>
  <%=link_to "Update job", edit_user_job_path(@job.user_id, @job.id)%>
<%else%>
  <%=link_to "Bid on job", job_path(@job)%>
<%end%>
<%=link_to "Back to profile", user_path(@job)%>
