<br>
<p> <%=@job.category%> </p>
<h1><%=@job.title%></h1>
<div>
  <% if current_user.id == job_poster(@job).id %>
    <%=link_to "Update job", edit_user_job_path(job_poster(@job).id, @job.id)%> |
    <%=link_to "Back to profile", user_path(job_poster(@job).id)%>
  <%else%>
    <%=link_to "Bid on job", new_job_bid_path(@job.id)%> |
    <%=link_to "View poster", user_path(job_poster(@job).id)%> |
    <%=link_to "Dashboard", root_path%>
  <%end%>
</div>
<hr>
<p> <%=@job.description%> </p>
<p> <%=@job.day%> - <%=@job.time%> </p>
<hr>
<h2>$<%=@job.price%></h2>
<hr>
<h2>Bids</h2>
<%= render partial: 'bids/bids', locals: {bids: @bids} %>
