<h1>Sign up to Pet Tasker</h1>
<%= bootstrap_form_for :user, url: '/signup' do |f| %>
  <div style="color:red;">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  <div><%= f.text_field :username %></div>
  <div><%= f.text_field :email %></div>
  <div><%= f.password_field :password %></div>
  <div><%= f.password_field :password_confirmation %></div>
  <%= f.submit "Sign up" %>
<% end %>
<br>
<%=button_to "Login with Google", '/auth/google_oauth2'%>

<%=link_to "Log in", login_path%>
<br>
