<h1>Sign up</h1>

<%= bootstrap_form_for :user, url: '/signup' do |f| %>
  <div><b><%=@message%></b></div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.text_field :username %></div>
  <div><%= f.text_field :email %></div>
  <div><%= f.password_field :password %></div>
  <div><%= f.password_field :password_confirmation %></div>
  <%= f.submit "Sign up" %>
<% end %>
<%=link_to "Sign in", login_path%>
<%=button_to "Login with Google", '/auth/google_oauth2'%>
