<h1>Sign up</h1>

<%= form_for :user, url: '/signup' do |f| %>

  <div><b><%=@message%></b></div>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
  <br>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up" %>
<% end %>

<%=link_to "Sign in", login_path%>