<h1><%=@user.username.pluralize.capitalize%> profile</h1>
<% if current_user.id == @user.id %>
  <%=link_to "Update profile", edit_user_path(@user.id)%>
  <%=link_to "Create job", new_user_job_path(@user)%>
  <hr>
  <li>
    <div>
      <h3>Username</h3>
    </div>
    <div>
      <h4><%=@user.username.capitalize%></h4>
    </div>
  </li>
  <hr>
  <li>
    <div>
      <h3>Email</h3>
    </div>
    <div>
      <h4><%=@user.email%></h4>
    </div>
  </li>
  <hr>
  <li>
    <div>
      <h3>Password</h3>
    </div>
    <div>
      <h4>********</h4>
      <div>
      </div>
    </li>
    <hr>
  <%else%>
  <%end%>
  <h2>My jobs</h2>
  <div>
    <% if @poster%>
      <%= render partial: 'jobs/jobs', locals: {jobs: @poster.jobs}%>
    <% else%>
      <%=link_to "Create job", new_user_job_path(@user)%>
    <%end%>
  </div>
  <br>
  <%=link_to "My Services", root_path%>
